body{
    background-color: slategrey;
}
#p1{
    color:tomato
}
#p2{
    color: rgb(102,222,255)
}
.add{
    color:rgb(41,41,41)
}
#p2{
    color: #545454;
}
.para
{
    color:rgb(146, 186, 34)
}
.para2{
    color:hsl(20, 0%, 0%)
}